body {
background-color: #000000;
}
#cd {
position: absolute;
top:50%;
left:50%;
margin-left:-145px;
margin-top:-160px;
width: 320px;
height: 320px;
border-radius: 50%;
background-image: url(../cds.png);
background-size: contain;
animation: spin;
animation-duration: 3330ms;
animation-iteration-count: infinite;
animation-timing-function: linear; 
}
@keyframes spin {
from {
transform:rotate(0deg);
}
to {
transform:rotate(360deg);
}
}
#d {
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
z-index: index 999;
opacity: 50%;
}
::-webkit-scrollbar {
width:17px;
}
::-webkit-scrollbar-track {
background:transparent; 
}
::-webkit-scrollbar-thumb {
background:transparent; 
}
::-webkit-scrollbar-thumb:hover {
background:grey; }
#secretwhisper {
display: flex;
justify-content:center;
align-items:center;
}
#whisper {
background-color:#000000;
color: #ffffff;
position: absolute;
top:90%;
width:500px;
height:10%;
font-size: 16px;
padding: 10px;
resize: none;
opacity:0;
user-select: none;
cursor:default;
}