#pics {
position: absolute;
bottom: 20px;
left: 15px;
z-index: 0;
}
#main {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 500px;
height: 400px;
display: flex;
flex-direction: row;
}
#anotherthought {
width: 300px;
height: 400px;
background-color: #ffffff;
}
#menu {
width: 200px;
height: 400px;
background-color: #ffffff;
}
#menu a {
text-decoration: none;
color: #000000;
font-size: 18;
}
#menu a:hover {
color: #808080;
}
.box {
width: 200px;
height: 50px;
text-align: center;
align-items: center;
font-size: large;
display: flex;
flex-direction: column;
justify-content: center;
}
::-webkit-scrollbar {
width:17px;
}
::-webkit-scrollbar-track {
background:#00000000; 
}
::-webkit-scrollbar-thumb {
background:#00000000; 
}
::-webkit-scrollbar-thumb:hover {
background:grey;
}