@font-face {
font-family: "29LT Makina";
src: url("../29ltmakina.otf") format("otf"),
}
body {
font-family:"29LT Makina";
font-size: 25;
user-select:none;
}
#ruins {
position: absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%);
}
#menu{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
display:none;
}
#darkness {
position: absolute;
top:0%;
left:0%;
background-color: black;
width: 100%;
height: 100%;
z-index: 999;
pointer-events: none;
}
#places {
position:absolute;
width:200px;
height:250px;
top: 260;
left: 260;
z-index: 0;
}  
#places a {
color:black;
display:block;
font-size: 20;
padding: 10px;
text-decoration: none;
} 
#secretwhisper {
display: flex;
justify-content:center;
align-items:center;
}
#whisper {
background-color:#000000;
color: #ffffff;
position: absolute;
top:90%;
width:500px;
height:10%;
font-size: 16px;
padding: 10px;
resize: none;
opacity:0;
user-select: none;
cursor:default;
}
#menu a:hover {
color:grey;
}
::-webkit-scrollbar {
width:17px;
}
::-webkit-scrollbar-track {
background:#00000000; 
}
::-webkit-scrollbar-thumb {
background:#00000000; 
}
::-webkit-scrollbar-thumb:hover {
background:grey;
}
::selection {
background-color: grey;
color:white;
}