@font-face {
font-family: "29LT Makina";
src: url("../29ltmakina.otf") format("otf"),
}
@font-face {
font-family: "29LT Makina";
src: url("../29ltmakina.otf") format("otf"),
}
body {
font-family:"29LT Makina";
font-size: 20;
}
#flower {
position: absolute;
left:75px;
top:50%;
transform: translateY(-50%);
}
#flower:hover{
cursor: default;
}
#darkness {
position: absolute;
top:0%;
left:0%;
background-color: black;
width: 100%;
height: 100%;
z-index: 999;
pointer-events: none;
}
#man {
position: absolute;
top:50%;
right: 100px;
transform:translateY(-50%);
width:calc(100% - 750px);
height:613px;
padding: 20px;
}
#man a {
text-decoration: none;
color: grey;
}
::-webkit-scrollbar {
width:17px;
}
::-webkit-scrollbar-track {
background:#00000000; 
}
::-webkit-scrollbar-thumb {
background:#00000000; 
}
::-webkit-scrollbar-thumb:hover {
background:grey; 
}
::selection {
background-color: grey;
color: white;
}