@font-face {
font-family: "29LT Makina";
src: url("../29ltmakina.otf") format("otf"),
}
body {
font-family:"29LT Makina";
font-size: 25;
}
#tv {
position:absolute;
top:50%;
left:50%;
margin-top: -200px;
margin-left: -250px;
opacity: 52%;
pointer-events: none;
}
#menu {
position:absolute;
width:463px;
height:340px;
top:50%;
left:50%;
margin-top:-150px;
margin-left:-227px;
overflow-y: auto;
background-color: #000000;
}  
#menu a {
color:#ffffff;
display:block;
padding:20px;
font-family:romulus;
font-size:30px;
}  
#menu a:hover {
color:#ff0000;
}
::-webkit-scrollbar {
width:15px;
}
::-webkit-scrollbar-track {
background:#000000; 
}
::-webkit-scrollbar-thumb {
background:#000000; 
}
::-webkit-scrollbar-thumb:hover {
background:grey; 
}
a {
text-decoration: none;
}
#secretwhisper {
display: flex;
justify-content:center;
align-items:center;
}
#whisper {
background-color:#000000;
color: #ffffff;
position: absolute;
top:90%;
width:500px;
height:10%;
font-size: 16px;
padding: 10px;
resize: none;
opacity:0;
user-select: none;
cursor:default;
}