@font-face {
font-family: "29LT Makina";
src: url("../29ltmakina.otf") format("otf"),
}
body {
font-family:"29LT Makina";
font-size:25;
user-select:none;
}
#nostalgic {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: white;
width: 840px;
height: 500px;
font-size: 12px;
text-align: left;
font-size: 25;
}
#i {
width: 600px;
height: 440px;
display: grid;
grid-auto-flow: column;
}
table a {
cursor: pointer;
}
table a:hover {
color: grey;
}
#playlist {
height: 440px;
}
#playlist a {
cursor: pointer;
text-decoration: none;
color: black;
}
#playlist a:hover {
color: grey;
}
::-webkit-scrollbar {
width: 17px;
}
::-webkit-scrollbar-track {
background: #00000000;
}
::-webkit-scrollbar-thumb {
background: #00000000;
}
::-webkit-scrollbar-thumb:hover {
background: grey;
}
