body {
user-select: none;
}
#flowers {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
#thought {
position: absolute;
top: calc(50% - 20px);
left: 50%;
transform: translate(-50%,-50%);
font-size: 19;
font-weight: bold;
text-align: center;
}
::-webkit-scrollbar {
width:17px;
}
::-webkit-scrollbar-track {
background:#00000000; 
}
::-webkit-scrollbar-thumb {
background:#00000000; 
}
::-webkit-scrollbar-thumb:hover {
background:grey; 
}