@font-face {
font-family: "29LT Makina";
src: url("../29ltmakina.otf") format("otf"),
}
body {
font-family:"29LT Makina";
}
#darkness {
position: absolute;
width: 100%;
height: 100%;
top: 0%;
left: 0%;
z-index: 999;
background-color: #000000;
pointer-events: none;
}
#thought {
position: absolute;
top:0;
left: 50%;
transform:translateX(-50%);
width: 320px;
height: calc(100% - 462px);
}
#structure {
position: absolute;
bottom:0;
left: 50%;
transform: translateX(-50%);
}
#thoughts {
position:absolute;
width:210px;
height:280px;
bottom: 75px;
left: 50%;
transform: translateX(-50%);
z-index: 999;
overflow-y: auto;
}  
#thoughts a {
color:black;
display:block;
font-size: 20;
padding: 10px;
text-decoration: none;
}  
#thoughts a:hover {
color:grey;
}
#secretwhisper {
display: flex;
justify-content:center;
align-items:center;
}
#whisper {
background-color:#000000;
color: #ffffff;
position: absolute;
top:90%;
width:500px;
height:10%;
font-size: 16px;
padding: 10px;
resize: none;
opacity:0;
user-select: none;
cursor:default;
}
#testament {
position: absolute;
color: #ffffff;
bottom: 25px;
left: 50%;
transform: translateX(-50%);
font-size: 21;
z-index: 999;
}
::-webkit-scrollbar {
width:17px;
}
::-webkit-scrollbar-track {
background:#00000000; 
}
::-webkit-scrollbar-thumb {
background:#00000000; 
}
::-webkit-scrollbar-thumb:hover {
background:grey; }