body {
background-image: url(../ocean.gif);
background-size: cover;
}
#winds,#freedom {
z-index: 999;
color: white;
display:none;
}
#i {
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
height:300px;
width:500px;
padding: 10px;
background-color:black;
z-index:999;
color: white;
opacity:0;
}
::-webkit-scrollbar {
width:17px;
}
::-webkit-scrollbar-track {
background:#00000000; 
}
::-webkit-scrollbar-thumb {
background:#00000000; 
}
::-webkit-scrollbar-thumb:hover {
background:grey; 
}
::selection {
background-color: grey;
color: white;
}